body {
  margin-top: 1px;
  margin-bottom: 1px;
}

#page {
  background: lightseagreen; /* For browsers that do not support gradients */
  background: mediumseagreen; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(circle, , darkseagreen, mediumseagreen, lightseagreen); /* Safari */
  background: -o-radial-gradient(circle, , darkseagreen, mediumseagreen, lightseagreen); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, darkseagreen, mediumseagreen, lightseagreen); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, darkseagreen, mediumseagreen, lightseagreen); /* Standard syntax */
  padding: 5px;
}

#navbar {
  background-color: transparent;
  border-width: 0px;
  font-weight: bold;
}

#paniscus {
  background-color: transparent;
  font-weight: bold;
}

#portfolio {
  background-color: transparent;
  font-weight: bold;
  max-height: 500px;
}

#social {
  background-color: transparent;
  border-color: initial;
}

#navbar div a   { font-size: 16pt; color: cyan; }
#navbar  ul a   { font-size: 20pt; color: blue; }

p.intro::first-letter { font-size:150%; }

p.intro { line-height: 1.0; }

.highlight       { display: inline; }

.highlight:hover { background-color: mediumseagreen; }

.caption        { color: white; }

#avatar {
    width: 240px;
    height: 240px;
    float: right;
    background: url("http://pin.primate.wisc.edu/fs/sheets/images/329lg.jpg");
    background: url("https://c1.staticflickr.com/3/2566/3756255538_1c5a693b5a_b.jpg");
    background-size: cover;
    border-radius: 50%;
}

#projects {
  margin: auto;
  max-width: 350px;
}

.item {
  margin: auto;
}

.glyphicon {
  color: darkgreen;
}

.project {
  margin: auto;
  height: 425px;
  width: 250px;
}

footer {
  bottom: 0;
  font-size: 8pt;
  height: 1em;
  margin: 1%;
  padding: 2pt;
  position: relative;
  width: 96%;
}

.footer-span {
  border: 4px double;
  padding: 3px 5px;
}

footer a {
  color: darkblue; 
  font-style: italic;
}

#noscript {
  border: 4px double black;
  color: darkblue;
  text-align: center;
  width: 100%;
}
